"""
Don't make changes to this code directly
Instead, make changes to the template and re-generate this file
"""

from datetime import datetime
from decimal import Decimal
from typing import Literal, Union
from uuid import UUID

from pydantic import BaseModel, Field, validator

{% for nodepath in nodepaths %}
{% with this = nodepath %}
{% include "basemodel.jinja2" %}
{% endwith %}
{% endfor %}
