[project]
name = "formkit-ninja"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "Josh Brooks", email = "josh@catalpa.io" }
]
requires-python = ">=3.11"
dependencies = [
    "django-ninja<1",
    "django-pghistory>=3.5.0",
    "django-pgtrigger>=4.13.2",
    "jinja2>=3.1.4",
    "pydantic<2",
    "rich>=13.9.4",
]

[project.scripts]
formkit-ninja = "formkit_ninja:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "django-stubs>=5.1.1",
    "mypy>=1.13.0",
    "psycopg2-binary>=2.9.10",
    "pytest-cov>=6.0.0",
    "pytest-django>=4.9.0",
    "ruff>=0.8.0",
]
playwright = [
    "pytest-playwright>=0.6.1",
]
