[tool.poetry]
name = "formkit-ninja"
version = "0.1.6a2"
description = "A Django-Ninja backend to specify FormKit schemas"
authors = ["Josh Brooks <josh@catalpa.io>"]
license = "GPLv3"
readme = "README.md"
homepage = "https://github.com/catalpainternational/formkit-ninja"
repository = "https://github.com/catalpainternational/formkit-ninja"
packages = [{include = "formkit_ninja"}]
exclude = ["tests", "formkit_ninja/samples"]

[tool.poetry.dependencies]
python = "^3.10"
django-ninja = "^0.20.0"
Django = "^4.1.5"
django-ordered-model = "^3.6"
pydantic = "<2"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
pytest-django = "^4.5.2"
isort = "^5.11.4"
black = "^22.12.0"
flake8 = "^6.0.0"
django-extensions = "^3.2.1"
rich = "^13.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pylint.format]
max-line-length = "119"

[tool.isort]
profile = 'black'
line_length = 119
multi_line_output = 3
include_trailing_comma = true

[tool.black]
line-length = 119
target-version = ['py310']