"""
Don't make changes to this code directly
Instead, make changes to the template and re-generate this file
"""

from django.contrib import admin
from .. import models

class ReadOnlyInline(admin.TabularInline):
    def has_change_permission(self, request, obj=None):
        return False
    def has_add_permission(self, request, obj=None):
        return False
    def has_delete_permission(self, request, obj=None):
        return False

{# FIRST PASS: Generate all inline classes for repeaters #}
{# This must come before admin classes that reference them #}
{% for nodepath in nodepaths %}
{% if nodepath.is_repeater %}
class {{nodepath.classname}}Inline(ReadOnlyInline):
    model = models.{{nodepath.classname}}
{% endif %}
{% endfor %}

{# SECOND PASS: Generate admin classes for groups and repeaters #}
{% for nodepath in nodepaths %}
{% with this = nodepath %}
{% include "admin.jinja2" %}
{% endwith %}
{% endfor %}