{% if this.is_group or this.is_repeater %}
class {{this.classname}}(models.Model):
{% if this.is_repeater %}
    # This class is a Repeater: Parent and ordinality fields have been added"
    parent = models.ForeignKey("{{this.parent_class_name}}", on_delete=models.CASCADE, related_name="{{this.node.name}}")
    ordinality = models.IntegerField()
{% endif %}
{% for extra_attrib in this.extra_attribs %}
    {{extra_attrib}}
{% endfor %}
{% for attrib in this.formkits_not_repeaters %}
    {{attrib.django_attrib_name}} = models.{{attrib.django_type}}({{attrib.django_args}})
{% endfor %}
{% if not this.is_repeater and not this.extra_attribs and not this.formkits_not_repeaters %}
    pass
{% endif %}
{% endif %}