name: ci 
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - uses: actions/cache@v2
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: uv pip install --system mkdocs-material mkdocstrings[python]
      - run: mkdocs gh-deploy --force
